<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shahzodbek Jurakulov</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kalnia:wght@100&family=Rubik+Doodle+Shadow&display=swap"
          rel="stylesheet">
    <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins&display=swap"
          rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="nav-item"><img class="iconi" src="static/portfolio.jpg" alt=""></span>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}" style="padding-left: 30px; padding-right: 30px">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}" style="padding-left: 30px; padding-right: 30px">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}" style="padding-left: 30px; padding-right: 30px">Contact</a>
            </li>
        </ul>
    </div>
</nav>

